.top-container {
  background-color: #93B5C6;
  text-align: center;
height:682px;
}

.middle-container{
  text-align: center;
}
.profile{
  background-color: #F6A9A9;
  height:500px;
  padding-top: 60px;
}
hr{padding: 0;margin-bottom: 0;margin-top: 0;}
.Profile{margin-top:10px;
  height:200px;
  width:200px;
}

.skill{
  height:250px;
  width:250px;
  margin-top: 20px;
}
h1 {
  margin-top: 0;
  padding-top: 100px;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;

}
h2{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;font-size:45px;
    margin: 0;
}

p {
  font-family: 'Klee One', cursive;
  font-size: 30px;
}
.challenge{
  height:300px;
  width:300px;
  border-radius:250px;
}
.skills{
  background-color: #C2F784;
  padding-top: 70px;
}
body {
  margin: 0;
}

.bottom-cloud {
  position: absolute;
  left:350px;
}

.top-cloud {
  position: absolute;
  left: 800px;
  top: 50px;
}
.mountain{
  position:absolute;
   right:28%;bottom:0;
}

.Pro {
  text-decoration: underline;
}
